.Table {
  width: 100%;
}

.Table-container {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

table {
  border-spacing: 0;
}

table th + th,
table td + td {
  border-left: 1px solid black;
}

th {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
